# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Publish Docker image

on:
  push:
    branches: [volta_canon]

env:
  OTP_VERSION: '24.3.4.1'
  ELIXIR_VERSION: '1.13.4'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    env:
      RELEASE_VERSION: 4.1.5
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: energyweb/blockscout-explorer

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      #   with:
      #     context: .
      #     push: true
      #     tags: v${{ env.RELEASE_VERSION }}-beta-volta
      #     labels: ${{ steps.meta.outputs.labels }}

      - name: Build Docker image
        run: |
          docker build \
          -t energyweb/blockscout-explorer:v${{ env.RELEASE_VERSION }}-beta-volta \
          -f ./docker/Dockerfile . \
          --build-arg NETWORK_PATH="/" \
          --build-arg CHAIN_ID="73799" \
          --build-arg JSON_RPC="https://volta-rpc.energyweb.org/" \
          --build-arg SUBNETWORK="Volta Testnet" \
          --build-arg COIN_NAME="Volta"

      - name: Push Docker image
        run: docker push energyweb/blockscout-explorer:v${{ env.RELEASE_VERSION }}-beta-volta
